<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>

<body>
  <form class="grid" action="/status" method="POST">
    {% if name %}
    <center>
      <h3 style="color: blue;" class="let_space">Hello {{name}}!</h3>
    </center>
    <input type="hidden" id="name" name="name">

    {% endif %}

    <center><input class="file_submit" type="Submit" value="Create your EC2 instance"></center>
  </form>






  <br>
  <br>
  <br>


</body>

</html>